<!--广告位-->
<!--短广告位-->
<div style="width:940px;height:60px;margin-left:auto; margin-right:auto; margin-top:19px; margin-bottom:2px; background-color:#FFF">

<!--左-->
<div style="width:465px;height:60px; border:1px solid #999; float:left; background-image: url(../resource/adv_photo/ss1_460x60.gif); background-position:right;margin-bottom:2px;"></div>

<!--右-->
<div style="width:465px;height:60px; border: 1px solid #999; float:right; background-image:url(../resource/adv_photo/ss2_460x60.gif);margin-bottom:2px;"></div>

</div>

