<!--网站声明-->
<div class="Footer-all">

  <div class="Footer-menu"><a href="../about" rel="nofollow" target="_blank">关于我们</a> | <a href="../about/?a=1" rel="nofollow" target="_blank">广告指南</a></div>
  <div><h5>ScriptSports所有资源均来自于网友上传分享及互联网搜索引擎，本身并不拥有任何相关资源</h5></div>
  <div style="line-height:2px; margin-bottom:10px">
    <p>Copyright &copy; 2014 ScriptSports All Rights Reserved.</p>
    <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc49223551190f0133782c58fe4083b76' type='text/javascript'%3E%3C/script%3E"));
</script>
    <span style="color:#333">Powered by <strong>ScriptSports</strong> <a href="http://www.miibeian.gov.cn/" rel="nofollow" target="_blank"> 京ICP备0907号</a></span>
  </div>
</div>
