<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="最新、最快、最全的体育赛事视频，赛事集锦" />
    <meta name="keywords" content="足球直播，欧冠直播，英超直播，西甲直播，中超直播，NBA直播，足球视频，NBA视频，足球下载" />
    <meta name="keywords" content="快速赛事播报，快速比分推送，快速赛事回放，赛事专业解析" />
<link rel="icon" href="../resource/photo/ssweb.png" type="image/x-icon" /> 
<title>欢迎来到脚本体育</title>
    <link href="../resource/uikit/css/uikit.almost-flat.min.css" rel="stylesheet" type="text/css" />
    <link href="../resource/css/ssmain.css" rel="stylesheet" type="text/css" />
    <link href="../resource/css/knakan.css" rel="stylesheet" type="text/css" />
    <link href="../resource/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    
    <script src="../resource/js/jquery.min.js" type="text/javascript"></script>
    <script src="../resource/uikit/js/uikit.min.js" type="text/javascript"></script>
    <script src="../resource/js/kankan.js" type="text/javascript"></script>   
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
	 <script src="../resource/js/ssmain.js" type="text/javascript"></script>

</head>

<body style="margin:0 auto;padding:0;height:100%;overflow:auto;">

{%include 'Topbar.html'%}
{%include 'advshort.html'%}

<!--导航条-->
<div class="menu">
        <ul>
            <li>
                <a href=".."><span>首页</span></a>
            </li>
            <li>
                <a href="../news"><span>最新动态</span></a>            </li>
            <li>
                <a href="../data">资料库</a>
            </li>
            <li>
                <a href="../video_list">高清视频</a>
            </li>
            <li>
            <a href="../live">赛事日历</a></li>
            <li>
            <a href="../bbs">社区</a></li>
          
        </ul>
</div>


<!--主要内容-->
<div class="main">

<div>
<h2 style="text-align:center;margin-top:24px;">[{{jjs.game_leixin}}]{{jjs.game_time|date:'n月j日'}}{{jjs.game_players}}集锦
</h2>
<hr />
</div>

<div>
<a href="javascript:exp()" style=" font-size:15px; color:#000;text-decoration:none; margin-left:20px;">IE说明</a>

<a style="margin-left:400px" href="{{jis.addr_mobi|safe}}" target="_blank"><i class="fa fa-tablet fa-2x"></i> <i class="fa fa-mobile fa-2x"></i></a>

<a id="lgi" href="javascript:light()" style="font-size:15px;color:#000;text-decoration:none;margin-left:410px;">关灯</a>

<div style="display:none" id="safeexp">
<hr />
说明：本网站所有脚本绝对安全无病毒！
<br />
如果每次使用IE浏览器下方出现 "IE已限制此网页运行脚本或Active控件,点击此处允许" 字样，可进入IE工具—Internet选项—高级；将"允许活动内容在'我的电脑'中运行”项打勾。推荐使用Chrome32.0+、Firefox28.0+浏览器。
</div>
</div>

<div class="kaiguan" style="text-align:center;min-height:480px;">
{% ifequal ss 0 %}
{{jis.addr_pc|safe}}
{%else%}
{{jis.addr_ss|safe}}
{%endifequal%}
</div>
</div>

<div class="bdsharebuttonbox" style="float:right;margin-top:-30px"><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"{{jjs.game_time|date:'n月j日'}}[ScriptSports.com]{{jjs.game_players}}集锦","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["tsina","qzone","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script> 
{%include 'bottomexp.html'%}
</body>
</html>