<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <link rel="icon" href="../resource/photo/ssweb.png" type="image/x-icon" />  
    <title>about scriptsports</title>   
    <link href="../resource/css/ssmain.css" rel="stylesheet" type="text/css" />  
    <link href="../resource/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>

<body style="margin:0 auto;padding:0;height:100%;overflow:auto; background-color:#E4FDAC">

<div class="main" style="margin-top:15px">
<h2 style="margin-left:20px">
ScriptSports(脚本体育)：广告服务
</h2>
<hr />
<div class="aboutus" style="height:545px; margin-bottom:20px">
<p>
脚本体育(ScriptSports)商务广告合作：
</p>
<p>
Tel：010-62165085-003
</p>
<p>
cell-phone: 13522164805
</p>
<p>
E-Mail：<span>scriptsports@126.com;</span><br />
<span style="margin-left:85px;">scriptsports@gmail.com;</span>
</p>
<p>
联系人：李先生
</p>
<p>
地址：北京市经济技术开发区科创13街18号楼312室
</p>
<p>
QQ: 2329992965&nbsp;
<a target=blank href=tencent://message/?uin=2329992965&Site=scriptsports&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:2329992965:7 alt="给我发信息"></a>
</p>
<p>
<b>免责声明：</b>
本网站所有广告所涉及的链接及得到之资讯、产品及服务均系均为广告商所提供之内容，并不反映任何本网之意见，本网不为其承担任何法律责任。如有违者，本网有权随时予以删除，并保留与有关部门合作追究的权利。
</p>
<p><a href=".." style="text-decoration:none">www.scriptsports.com</a></p>
</div>
<div class="aboutusr">
<ul>
<li><a href="../about">about us(关于我们)</a></li>
<li><a href="?a=1">advertisement(广告)</a></li>

</ul>
</div>
</div>
</body>
</html>