<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="../resource/photo/ssweb.png" type="image/x-icon" />   
    <title>about scriptsports</title>   
    <link href="../resource/css/ssmain.css" rel="stylesheet" type="text/css" />  
    <link href="../resource/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>

<body style="margin:0 auto;padding:0;height:100%;overflow:auto; background-color:#E4FDAC">



<div class="main" style="margin-top:15px">
<h2 style="margin-left:20px">
ScriptSports(脚本体育)：关于
</h2>
<hr />
<div class="aboutus">
<p>
脚本体育(ScriptSports)是一个自由内容、用户公开编辑上传且多来源互动的体育娱乐平台，通过简单分享技术使得包括您在内的所有人都可以简单地共享来自互联网体育的任何信息和娱乐节目。脚本体育脚本(Script)一字意味着我们的目的是快速的解读体育娱乐(Game)的全部内容和信息。
</p>
<p>
脚本体育(ScriptSports)通过多种体育赛事提供针对性的特色专业内容，并提供一系列增值
服务。手机、手持PAD等移动设备的ScriptSport网为用户提供定制信息和体育娱乐内容。脚本体育(ScriptSports)是基于开放平台架构的和第三方组件的开放互联网应用，提供体育娱乐的社交网络服务，帮助用户随时随地与任何人讨论和分享体育娱乐信息。
</p>
<p>
脚本体育(ScriptSports)致力于以传媒和互联网的力量，整合体育娱乐产业的内容与服务，建立全新的体育互动娱乐模式。
</p>
<p style="color:#C30">weibo:scriptsports</p>
<p><a href=".." style="text-decoration:none">www.scriptsports.com</a></p>
</div>
<div class="aboutusr">
<ul>
<li><a href="">about us(关于我们)</a></li>
<li><a href="?a=1">advertisement(广告)</a></li>

</ul>
</div>
</div>
</body>
</html>