.ss-video-tab{ height:30px; border-bottom:5px solid #ACBDD3; margin-right:5px;padding:0px 0px 0 35px; margin-top:10px;}
.ss-video-tab li{ list-style-type:none; float:left; background:url(../photo/bg1.jpeg) no-repeat -100px 0; width:85px; height:25px; margin-left:0px; text-align:center; line-height:28px; cursor:pointer; color:#666; padding-left:0px}
.ss-video-tab li{
	background-position: 0 0;
	color:#000000;
	font-size:16px;
}

.ss-video-tab li:hover
{
	color: #993333
}


.ss-video-tab1 .rep-race{no-repeat 0 -159px; width:70px;}
.ss-video-tab1 .rep-title{ width:195px;}
.ss-video-tab1 .rep-titleplayer{width:310px;}
.ss-video-tab1 .rep-map{ width:95px;}
.ss-video-tab1 .rep-date{ width:190px;}
.ss-video-tab1 .rep-rating{no-repeat right -125px; float:right; text-align:left; width:98px;}

.ss-video-tab1{ height:10px; border-bottom:3px solid #ACBDD3; margin-right:5px;padding:0px 0px 0 25px;}
.ss-video-tab1 li{ list-style-type:none; float:left; no-repeat -100px 0; width:85px; height:15px; margin-left:0px; text-align:center; line-height:0; color:#666; padding-left:0px}

.ss-video-tab1 li.more{ float:left; text-align:left; width:80px; cursor:default; background:none;}
.ss-video-tab1 li.more a{ color:#666;}



.ssitem { clear:both; margin:0px; padding:0px 12px; background-position:right;}

.ssitem li {border-bottom:dashed 1px #ccc;float:left;list-style-type:none;line-height:32px; margin:1px 1px;font-size:16px; }

.ssitem .c_r { width:90px;text-align:center; margin-left:0px}
.ssitem .c_p { width:170px;text-align:center;color:#096}
.ssitem .c_m { width:330px;text-align:center;}
.ssitem .c_t { width:80px; text-align:center;}
.ssitem .c_t1 { width:190px; text-align:center;color:#039}
.ssitem .c_t2 { width:80px; text-align:center}

.ssitem a:hover
{
	color:#900}

.ssitem .c_m a:link {
	color: #000000;
	text-decoration: none;
}
.ssitem .c_m a:visited {text-decoration: none; color: #800080; }

.ss-rep-more{ float:right;text-align:center;line-height:50px;font-size:16px;margin-right:410px;}

.ss-rep-more a:link{ text-decoration:none;}
.ss-rep-more a:hover{ text-decoration:blink; color:red}